@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
html,
body,
div,
span,
canvas {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

header nav {
    z-index: 1000;
}

#pixie {
    display: none;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins';
    font-size: 13px;
}

.hero {
    height: 60vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container nav {
    margin-top: 15px;
}

.nav-container {
    background-color: #100E0C;
}

.nav-container a {
    text-align: center;
    color: white;
}

.nav-container a:hover {
    color: #3CA270;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2em;
}

header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header ul a {
    display: block;
    padding: 0 2em;
    font-size: smaller;
}

.social-header,
.hero-design {
    display: none;
    z-index: 100;
}

.skills h1 {
    margin: -50px 0 0 0;
    font-size: 10vw;
    color: white;
}

.hero {
    background-image: url(../images/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    margin: 0 auto;
    font-weight: bold;
    color: #C5EBFA;
    font-size: 22px;
}

.meet span {
    margin-top: 1em;
    margin-right: 0.5em;
}

.scroll {
    width: 30px;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(60, 161, 119, 0.23);
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #3CA177;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #3B3B3B;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background-color: #8FCFBB;
}

.skills-container ul li {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.skills-container ul li .icon-container {
    height: 100px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 0 auto;
}

.skills-container ul li .icon-container.one {
    width: 50px;
}

.skills-container ul li .icon-container.two {
    width: 100px;
}

.skills-container ul li .icon-container.three {
    width: 60px;
}

.skills-container ul li .skill-title {
    font-weight: bold;
}

.skills-container ul li .featured-desc {
    margin-bottom: 2em;
}

.portfolio-container {
    padding: 5px;
}

.portfolio .prism {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../images/prism_logo.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.portfolio .dsc {
    margin-top: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/google.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.portfolio .gfg {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/gfg.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.portfolio h1 {
    margin: -50px 0 0 0;
    font-size: 9vw;
    color: #8FCFBB;
    text-align: center;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

.icon-container-three i {
    font-size: 30px;
}

footer {
    background-color: #192D2F;
    -ms-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#footer .social-icon a {
    margin: 0 16px 20px 16px;
    display: inline-block;
}

.social-icon,
.copyright {
    text-align: center;
}

.social-icon .fab {
    font-size: 50px;
    color: #3CA270;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    line-height: 80px;
    border: 10px solid #8FCFBB;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
}

.social-icon a:hover .fab {
    border: 10px solid white;
}

.rounded {
    border-radius: 5px;
}

@media only screen and (min-width: 800px) {
    .featured h1 {
        display: block;
    }
    .nav-container nav {
        margin-top: 0px;
    }
    #pixie {
        display: inline;
    }
    .scroll {
        width: 50px;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    header ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 30px;
    }
    header ul a {
        display: block;
        padding: 0 2em;
        font-size: medium;
    }
    .featured,
    .portfolio {
        text-align: left;
        font-size: 22px;
    }
    .featured,
    .portfolio-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    }
    .left,
    .portfolio-left {
        display: -ms-grid;
        display: grid;
        place-content: center;
    }
    .right {
        margin-left: 2em;
        margin-top: 1em;
    }
    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .skills-container ul {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1em;
        font-size: 22px;
    }
    .portfolio {
        padding-top: 7em;
    }
    .portfolio-container img {
        margin-left: 2em;
    }
}

@media only screen and (min-width: 1050px) {
    #pixie {
        width: 66%;
    }
    .hero {
        height: 90vh;
    }
    .nav-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
        background: unset;
    }
    .nav-container header {
        background-color: #100E0C;
    }
    .header {
        padding: 2em 2em 2em 4em;
    }
    section {
        padding: 4em;
    }
    .social-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 0px;
        position: relative;
    }
    .social-header ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: inline;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 21em;
        position: absolute;
        right: 0;
        margin-right: -70px;
        margin-top: 38%;
        text-align: center;
    }
    .social-header i {
        width: 60px;
        height: 60px;
        font-size: 40px;
        padding: 2px;
        margin: 2px;
        color: white;
        background-color: #3CA270;
        border: 5px solid #3CA270;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
    }
    .social-header i:hover {
        width: 80px;
        height: 80px;
        font-size: 60px;
        line-height: 80px;
        padding: 2px;
        color: white;
        background-color: #192D2F;
        border: 5px solid #192D2F;
        border-radius: 50%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .hero {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
    }
    .hero .content {
        background-image: url(../images/forest.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 6em 8em 6em 4em;
        text-align: left;
    }
    .hero .content h1 {
        font-size: 6em;
        line-height: 1.2em;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        width: 100%;
    }
    .portfolio img {
        float: right;
    }
    .gdsc {
        width: 500px;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }
    .hero .content {
        padding: 6em 8em 6em 20em;
    }
}


/*# sourceMappingURL=main.css.map */
